---
import { url } from '../lib/url';
---
<footer class="footer-landing">
  <div class="footer-inner">
    <div class="footer-top">
      <span class="footer-brand">A Red Barrow publication</span>
      <span class="footer-date">Last updated April 2026</span>
    </div>
    <nav class="footer-nav">
      <a href={url('/concepts/')}>Concepts</a>
      <a href={url('/instruments/')}>Instruments</a>
      <a href={url('/actors/')}>Actors</a>
      <a href={url('/frameworks/')}>Frameworks</a>
      <a href={url('/case-studies/')}>Case Studies</a>
    </nav>
  </div>
</footer>
